.defaultText
{
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    word-spacing:4pt;
    font-size:16px;
    text-align:justify;
    font-family:arial, helvetica, sans-serif;
    line-height:2;
    margin:18px;
    padding:7px;
    width:566px;
}